.hud-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
    height: 100%;
}

.hud-hidden {
    opacity: 0;
    visibility: hidden;
    height: 0;
    margin: 0;
}

.github-link img {
    width: 100%;
    height: 100%;
    cursor: pointer; /* zeigt Hand-Cursor beim Hover */
}

.spacer {
    flex-grow: 1; /* schiebt das Icon nach unten */
}