@inject LoggerService Logger

<div class="live-logger">
    <h3>Live Logger</h3>
    <ul class="log">
        @foreach (var entry in _logEntries)
        {
            <li @key="entry.Key">@entry.Value</li>
        }
    </ul>
</div>

@code {
    private readonly List<KeyValuePair<string,RenderFragment>> _logEntries = new();

    protected override void OnInitialized()
    {
        Logger.OnLogAppended += AddEntry;
    }

    private void AddEntry(RenderFragment fragment)
    {
        _logEntries.Insert(0, new KeyValuePair<string, RenderFragment>(Guid.NewGuid().ToString(),fragment));
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        Logger.OnLogAppended -= AddEntry;
    }
}