.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

.layout-root {
    display: grid;
    grid-template-columns: 1fr 200px; /* ← rechter HUD-Bereich */
    height: calc(100vh - 64px);
}

.page-content {
    overflow: auto;
}

.hud-area {
    position: relative;
    background: rgba(0,0,0,0.1); /* leicht zur Orientierung */
    padding: 10px;
    box-sizing: border-box;
}

/* Bieber Area */

.appbar-with-biber .progress-container {
    position: relative;
    flex: 1; /* füllt den Platz zwischen den Buttons / Bildern */
}

.mud-progress-bar {
    width: 100%;
}

.beaver {
    height: 64px;
    position: absolute;
    transform: translateX(-50%); /* damit der Biber mittig auf der Balkenposition sitzt */
    background-repeat: no-repeat;
}

.beaver.smooth-decay {
    transition: left 500ms linear;
}

/* Normale Animation: */
.beaver.normal {
    width: 100px;
    top: -43px; /* leicht über dem Balken */
    background-image: url('bieber-frist.png');
    background-position-y: 0px;
    animation: chew 0.6s steps(4) infinite;
}
@keyframes chew {
    from { background-position-x: 0; }
    to   { background-position-x: -400px; } 
}

/* Wütend: 4 Frames, langsamer */
.beaver.angry {
    width: 85px;
    top: -22px; 
    background-image: url('bieber-hungrig.png');
    background-position-y: 0px;
    animation: chew-angry 0.6s steps(2) infinite;
}

@keyframes chew-angry {
    from { background-position-x: 0; }
    to   { background-position-x: -170px; } 
}


